CREATE TABLE #OPERACOES_THIAGO
(  
RF_CARACTERISTICA CHAR(20),  
EH_FUNDO  CHAR(01) NULL,  
DT_ULTIMA_COTA_LIBERADA DATETIME NULL
)  


INSERT INTO #OPERACOES_THIAGO (RF_CARACTERISTICA)
(
SELECT DISTINCT  
A.RF_CARACTERISTICA  
FROM  
RENDA_FIXA A (NOLOCK),  
RF_MERCADORIA B (NOLOCK),  
RF_INDEXACAO C (NOLOCK)  
WHERE  
A.ATV_CODIGO = B.ATV_CODIGO  
AND A.RF_CARACTERISTICA = C.RF_CARACTERISTICA  
AND A.RF_OK = 'S'  
AND B.IC_OPRC_NAO_PADR <> 'S'   
AND ISNULL(B.IC_ATVA, 'S') = 'S'  
AND A.RF_EMISSAO < '20190629'  
AND A.RF_DTLIQ > '20190627'  
AND C.RFX_PARTIDA < '20190629'  
AND C.RFX_VOLTA > '20190627'  
AND A.RF_CARACTERISTICA = '00000000000023021639'
)

SELECT * FROM #OPERACOES_THIAGO
  
SELECT DISTINCT  
A.RF_CARACTERISTICA  
FROM  
RENDA_FIXA  A (NOLOCK),  
SANT643_RF_REPAC_TITULO B (NOLOCK),  
RF_MERCADORIA  C (NOLOCK),  
RF_INDEXACAO  D (NOLOCK)  
WHERE  
A.TITULO_ID = B.TITULO_ID  
AND A.ATV_CODIGO = C.ATV_CODIGO  
AND A.RF_CARACTERISTICA = D.RF_CARACTERISTICA  
AND A.RF_OK = 'S'  
AND C.IC_OPRC_NAO_PADR = 'S'  
AND ISNULL(C.IC_ATVA, 'S') = 'S'  
  
AND ((A.RF_EMISSAO < '20190629' AND B.DT_LQDC > '20190627'))  
AND D.RFX_PARTIDA < '20190629'  
AND D.RFX_VOLTA > '20190627'  
AND A.RF_CARACTERISTICA NOT IN (SELECT Rf_CARACTERISTICA FROM #OPERACOES_THIAGO)  
AND B.ID_RPAC = (SELECT MAX(ID_RPAC) FROM SANT643_RF_REPAC_TITULO WHERE TITULO_ID = A.TITULO_ID AND DT_INIC_RPAC < '20190629' AND DT_FIM_RPAC > '20190627')  
			  
AND A.RF_CARACTERISTICA = '00000000000023021639'